* text eol=lf

# binary files that git must not modified
*.db binary
*.docx binary
*.jpeg binary
*.jpg binary
*.odt binary
*.otf binary
*.pdf binary
*.png binary
*.ttf binary
*.woff binary
*.woff2 binary

