<IfModule mod_negotiation.c>
    # content negogiations do strange things with /myfile > /myfile.php
    Options -MultiViews
</IfModule>
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
    # RewriteBase / # was needed for old apache
    RewriteRule ^index\.php$ - [L] # direct index.php access, [L] = last
    RewriteCond %{REQUEST_FILENAME} !-f # file exists, no redirection
    RewriteCond %{REQUEST_FILENAME} !-d # directory exists, no redirection
    RewriteRule (.*) index.php [QSA,L]  # let the rooter work
</IfModule>
