<IfModule mod_negotiation.c>
    # content negogiations do strange things with /myfile > /myfile.php
    Options -MultiViews
</IfModule>
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
    # RewriteBase / # was needed for old apache
    # direct index.php access, [L] = last
    RewriteRule ^index\.php$ - [L] 
    # file exists, no redirection
    RewriteCond %{REQUEST_FILENAME} !-f
    # directory exists, no redirection
    RewriteCond %{REQUEST_FILENAME} !-d
    # let the rooter work
    RewriteRule (.*) index.php [QSA,L]
</IfModule>
