<IfModule mod_negotiation.c>
    # content negogiations do strange things with /myfile > /myfile.php
    Options -MultiViews
</IfModule>
<IfModule mod_headers.c>
    # add cache time for fonts
    <filesMatch ".(otf|ttf)$">
        Header set Cache-Control "max-age=15552000, public"
    </filesMatch>
</IfModule>
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
    # RewriteBase / # was needed for old apache
    # direct index.php access, [L] = last
    RewriteRule ^index\.php$ - [L]
    # odt images 
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ([^/]+-img/.*)  html/$1 [QSA,L]
    # let the rooter work if not file exists
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule (.*) index.php [QSA,L]
</IfModule>
