@font-face {
    font-family: "Noto";
    font-style: normal;
    font-display: swap;
    font-weight: 125 950;
    font-stretch: 50% 150%;
    src: local("Didot"), local("Bodoni"), local("Bodoni Moda"), url(fonts/NotoSerifDisplay-VariableFont_wdth\,wght.ttf);
}

@font-face {
    font-family: "Noto";
    font-style: italic;
    font-display: swap;
    font-weight: 125 950;
    font-stretch: 50% 150%;
    src: local("Didot"), local("Bodoni"), local("Bodoni Moda"), url(fonts/NotoSerifDisplay-Italic-VariableFont_wdth\,wght.ttf);
}

GRAD bad for œ font-variation-settings: 'opsz' 144,
'GRAD' -2,
'XOPQ' 170,
'YTFI' 800;
@font-face {
    font-family: "Amstelvar";
    font-style: normal;
    font-display: swap;
    font-weight: 125 950;
    font-stretch: 50% 150%;
    src: local("Didot"), local("Bodoni"), local("Bodoni Moda"), url(fonts/Amstelvar-Roman-VF.ttf);
}

@font-face {
    font-family: "Amstelvar";
    font-style: italic;
    font-display: swap;
    font-weight: 125 950;
    font-stretch: 50% 150%;
    src: local("Didot"), local("Bodoni"), local("Bodoni Moda"), url(fonts/Amstelvar-Italic-VF.ttf);
}

@font-face {
    font-family: "Bodoni Moda";
    font-style: normal;
    font-display: swap;
    src: local("Didot"), local("Bodoni"), local("Bodoni Moda"), url(fonts/BodoniModa.ttf);
}

@font-face {
    font-family: "Bodoni Moda";
    font-style: italic;
    font-display: swap;
    src: local("Didot"), local("Bodoni"), local("Bodoni Moda"), url(fonts/BodoniModaItalic.ttf);
}

@font-face {
    font-family: "Libre Bodoni";
    font-style: normal;
    font-display: swap;
    src: local("Bodoni72"), local("Libre Bodoni"), url(fonts/LibreBodoni.ttf);
}

@font-face {
    font-family: "Libre Bodoni";
    font-style: italic;
    font-display: swap;
    src: local("Bodoni72"), local("Libre Bodoni"), url(fonts/LibreBodoniItalic.ttf);
}

@font-face {
    font-family: "Didot";
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: local("Didot"), local("Didot LT STD"), local("Didot GFS"), url(fonts/GFSDidot.otf) format("opentype");
}

@font-face {
    font-family: "Didot";
    font-style: italic;
    font-weight: normal;
    font-display: swap;
    src: local("Didot"), local("Didot LT STD"), local("Didot GFS"), url(fonts/GFSDidotItalic.otf) format("opentype");
}

@font-face {
    font-family: "Didot";
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: local("Didot"), local("Didot LT STD"), local("Didot GFS"), url(fonts/GFSDidotBold.otf) format("opentype");
}

@font-face {
    font-family: "Didot";
    font-style: italic;
    font-weight: bold;
    font-display: swap;
    src: local("Didot"), local("Didot LT STD"), local("Didot GFS"), url(fonts/GFSDidotBoldItalic.otf) format("opentype");
}