:root {
    --white: #fff;
    --black: #000;
    --gray: rgba(128, 128, 128, 0.2);
    --dark: rgb(15, 70, 64);
    --mid: rgb(99, 131, 110);
    --hilite: rgb(220, 164, 151);
    --red: rgb(184, 57, 25);
    --bg: rgb(245, 235, 234);
    --font-family: 'Noto Serif Display', serif;
    --sans-serif: 'Noto Sans Display', sans-serif;
}

@font-face {
    font-family: "Noto Serif Display";
    font-style: normal;
    font-display: swap;
    font-weight: 125 950;
    font-stretch: 50% 150%;
    src: local("Didot"), local("Bodoni"), local("Bodoni Moda"), url("fonts/NotoSerifDisplay-VariableFont_wdth,wght.ttf");
}

@font-face {
    font-family: "Noto Serif Display";
    font-style: italic;
    font-display: swap;
    font-weight: 125 950;
    font-stretch: 50% 150%;
    src: local("Didot"), local("Bodoni"), local("Bodoni Moda"), url("fonts/NotoSerifDisplay-Italic-VariableFont_wdth,wght.ttf");
}

@font-face {
    font-family: "Noto Sans Display";
    font-style: normal;
    font-display: swap;
    font-weight: 125 950;
    font-stretch: 50% 150%;
    src: local("Didot"), local("Bodoni"), local("Bodoni Moda"), url("fonts/NotoSansDisplay-VariableFont_wdth,wght.ttf")
}

@font-face {
    font-family: "Noto Sans Display";
    font-style: italic;
    font-display: swap;
    font-weight: 125 950;
    font-stretch: 50% 150%;
    src: local("Didot"), local("Bodoni"), local("Bodoni Moda"), url("fonts/NotoSansDisplay-Italic-VariableFont_wdth,wght.ttf");
}

html {
    font-size: 20px;
    font-family: var(--font-family);
    font-variant-numeric: oldstyle-nums;
    background-color: var(--bg);
    font-weight: 400;
    line-height: 150%;
    word-spacing: 150%;
    letter-spacing: -.09ex;
}

#header,
#footer,
nav.toc,
.card,
h1,
h2,
h3,
h4,
h5,
h6,
.font2 {
    /* font-variation-settings: 'wght' 300, 'wdth' 85; */
    letter-spacing: 0;
    word-spacing: 30%;
    font-stretch: 75%;
    font-weight: 300;
    color: var(--black);
}

#notebox,
.noteref,
.footnotes,
.sans-serif {
    font-family: var(--sans-serif);
    word-spacing: 100%;
    letter-spacing: 0;
    font-size: 0.9rem;
    font-weight: 300;
}

body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}

body {}

h1 {
    color: var(--red);
    font-weight: 600;
    font-size: 1.4rem;
    font-weight: 700;
}

h2 {
    font-weight: bold;
    color: var(--red);
}

h3 {
    font-weight: bold;
    text-indent: 0;
}

h3>a {
    display: block;
    padding: 0 1rem;
}

h3 a:hover {
    background-color: var(--white);
}

article.teinte figure,
.font3 {
    font-weight: 200;
}

#page {
    min-height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.letter {
    position: relative;
}

.letter .pb {
    position: absolute;
    right: -200px;
    text-align: right;
    text-decoration: none;
}

.letter .pb img {
    display: block;
}

.letter p {
    text-align: justify;
    text-indent: 2rem;
}

.letter .salute,
.letter .signed {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.letter .dateline,
.letter .signed {
    text-align: right;
}

#header {
    display: flex;
    align-items: flex-end;
    line-height: 115%;
    position: sticky;
    top: 0;
    z-index: 10;
}

#header a {
    text-decoration: none;
}

#header a.home {
    display: inline-block;
    margin: 0;
    padding: 0.5rem 2rem 0.5rem 1rem;
}

#header a.home:hover {
    background-color: rgba(245, 235, 234, 0.1);
}

#footer nav,
#header nav {
    display: flex;
    justify-content: center;
}

#footer nav a,
#header nav a {
    display: inline-block;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

nav.lettres a {
    display: block;
    text-decoration: none;
    padding: 0rem 1rem;
    color: inherit;
}

nav.lettres a:hover {
    background-color: var(--white);
}

#footer nav a:hover,
#footer nav a.selected,
#header nav a:hover,
#header nav a.selected {
    background-color: var(--bg);
    color: var(--dark);
}

#content {
    background-color: var(--bg);
    padding: 1rem 0 1rem 0;
    flex-grow: 2;
}


/* page statique */

body.home #content>.content,
body.lettres #content>.content,
body.pages #content>.content,
#content article.lettres {
    max-width: 80ex;
    margin-left: auto;
    margin-right: auto;
}

body.articles #content>.content {
    position: relative;
    max-width: 100ex;
    margin-left: auto;
    margin-right: auto;
}

article.teinte {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

article.teinte .main {
    position: relative;
}

article.teinte aside.toc {
    position: sticky;
    top: 0;
    height: 100%;
    flex-basis: 30ex;
    flex-grow: 0;
    flex-shrink: 0;
    order: -1;
    overflow: auto;
    bottom: 0;
    padding-top: 4.7rem;
}

aside.toc {
    padding-top: 2rem;
}

aside.toc nav a {
    display: block;
    color: var(--black);
    padding: 0.5rem;
    line-height: 105%;
}

nav a:hover {
    background-color: var(--hilite);
}

aside.toc ol,
aside.toc ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

aside.toc ol ol,
aside.toc ul ul {
    margin-left: 1.5rem;
}

aside.toc ol ol a,
aside.toc ul ul a {
    text-align: right;
}

#notebox {
    position: sticky;
    bottom: 0;
    right: 0;
    left: 0;
    max-height: 20vh;
    overflow-y: auto;
    z-index: 20;
    background: var(--bg);
    padding: 0.7ex 0 0.2rem 0;
    visibility: hidden;
    overflow-y: scroll;
    border-top: 1px var(--gray) solid;
}

.noteback,
.noteref {
    color: var(--red);
}

#notebox .note {
    padding-right: 1rem;
    padding-bottom: 0.7ex;
    margin-bottom: 0;
}

#notebox a.noteback {
    position: static;
    display: inline;
    margin: 0;
}

nav.lettres .singular .entry-header {
    border-bottom: none;
    padding-top: var(--global--spacing-vertical);
    padding-bottom: var(--global--spacing-vertical);
    margin-bottom: 0;
    padding-left: var(--global--spacing-horizontal);
    padding-right: var(--global--spacing-horizontal);
}

.entry-content>* {
    margin-right: 2rem !important;
    margin-left: 2rem !important;
}

#footer,
#header {
    background-color: var(--dark);
    color: var(--bg);
    font-size: 1.2rem;
}

#footer a,
#header a {
    color: var(--bg);
}

.site-branding {
    padding: 1rem;
}

.site-branding form.search {
    float: right;
}

#masthead img.banner {
    width: 100%;
}

.teiHeader,
.entry-header {
    background-color: var(--bg);
}

.entry-title {
    color: var(--red);
}

.byline {
    text-align: right;
}

b.el {
    color: red;
}

.placeName {
    background-color: var(--hilite);
}

.persName {
    background-color: var(--hilite);
}

.footnotes {
    margin-top: 1rem;
}

.fncall {
    font-family: var(--sans);
    font-size: 75%;
    color: var(--red) !important;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
    top: -0.5rem;
    text-decoration: none;
}

.fncall:hover {
    background-color: var(--hilite);
    color: #000000;
}

.fnbody {
    margin-left: 2rem;
}

.fnmarker {
    float: left;
    color: var(--red) !important;
    text-decoration: none !important;
}


/* Specific welcome  */

body.home aside.toc {
    display: none;
}

ul.card {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
}

li.card {
    display: block;
    background-color: var(--white);
    text-align: center;
}

li.card>a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: inherit;
    padding: 1rem;
}

li.card>a:hover {
    background-color: var(--dark);
    color: var(--white);
}

li.card>span.item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    height: 100%;
}